/*
 * -------------------------------------------------
 *  Nextflow config file for bulk
 * -------------------------------------------------
 //

params {
    config_profile_name = 'Si_Bulkrnaseq'
    config_profile_description = 'Alignment_Bulkrnaseq'

  //

    // Input data
    params.input = '/hpfs/projects/vrd_ngs/Ravneet/LeoBulk_RNAseq/Bulk_rav_samplesheet.csv'
    params.email = 'ravneet.kaur@pfizer.com'
    params.outdir = '/hpfs/projects/vrd_ngs/Ravneet/LeoBulk_RNAseq/nextflow'

    // Single cell analysis options
    params.fasta = '/hpfs/projects/vrd_ngs/Ravneet/References/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz'
    params.gtf = '/hpfs/projects/vrd_ngs/Ravneet/References/Homo_sapiens.GRCh38.110.gtf.gz
    
}
